*~

.cache/
.retry/
.hide/

roles/
log/
tmp/
ext/
site/

README.html
plugins/filter/*.pyc

# generated
ssh-config
vars/ext/
inventory/*.ext
inventory/group_vars/*/*-ext.yml
.cache
.retry
.hide
roles
log
tmp
ext
ansible.cfg
vault-pass.py
